<img
  src="/assets/imgs/Bem_Estar_logo_2015.png"
  alt="logo bem estar"
  class="position-fixed"
  style="left: 40%; top: 3%; z-index: 9999999999999999999999999999999;"
  height="75"
/>
<div
  fullpage
  id="fullpage"
  [options]="config"
  (ref)="getRef($event)"
  #fullpageRef
>
  <div class="section" *ngFor="let item of render; let i = index">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-lg-12" *ngIf="!loading">
              <h1 class="text-white" [innerHTML]="item.title"></h1>
              <h4 class="text-white">{{ item.subTitle }}</h4>
              <div class="input-group mb-3">
                <input
                  type="text"
                  [mask]="item.mask ? item.mask : letters"
                  thousandSeparator=","
                  id="{{ item.input }}"
                  class="form-control"
                  [placeholder]="item.placeholder"
                  (keydown)="defineValue($event, item.input)"
                *ngIf="item.type === 'keyboard'"/>
                <select class="form-control" *ngIf="item.type === 'select'" (change)="defineValue($event, item.input)">
                  <option value="true">Sim</option>
                  <option value="false">Não</option>
                </select>
                <!-- <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button"><i
                                            class="fas fa-backspace fa-lg"></i></button>
                                </div> -->
              </div>
            </div>
            <!-- <div class="col-lg-12" *ngIf="hasItemType(item.type, 'keyboard')">
                            <div class="simple-keyboard keyboard-{{item.input}}">
                            </div>
                        </div> -->
            <div class="col-lg-12" *ngIf="loading">
              <div class="d-flex align-items-center mt-5">
                <div class="p-2 bd-highlight">
                  <div
                    *ngIf="item.icon !== null"
                    class="{{ item.icon }}"
                    role="status"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <div class="p-2 bd-highlight text-left">
                  <img [src]="item.result_img" />
                  <h3 class="font-weight-bold text-white">
                    {{ loading_text }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5" *ngIf="!loading">
      <div class="row mt-5">
        <div class="col-12 mt-5">
          <button
            type="button"
            (click)="exit()"
            class="btn bg-white btn-outline-danger btn-lg float-left font-weight-bold"
          >
            Sair
          </button>
          <button
            type="button"
            (click)="next(i)"
            class="btn btn-raised btn-warning btn-lg text-dark float-right ml-3"
          >
            Continuar
          </button>
          <button
            type="button"
            *ngIf="hasBack(i)"
            (click)="back(i)"
            class="btn btn-raised btn-dark btn-lg text-white float-right"
          >
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container p-0">
      <div class="row justify-content-md">
        <div class="col-md-auto col-md-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="container header text-white">
                <!-- POSITIVO -->
                <div class="pt-5" *ngIf="result">
                  <h2>
                    Parabéns,  
                    <p> você não precisa de tele atendimento no momento, contunue com sua rotina equilibrada com alimentos saudáveis e exercicio físico.
                      Mas se precisar de nós sempre estaremos a dispocisão. </p>
                  </h2>
                  <h2 class="font-weight-bold">+ bem estar agradece.</h2>
                  <div class="container mt-5">
                    <div class="row mt-5">
                      <div class="col-12 mt-5">
                        <button
                          _ngcontent-wig-c108=""
                          type="button" (click)="fullpage_api.moveSectionDown()"
                          class="btn btn-raised btn-warning btn-lg text-dark btn-block float-right ml-3 btn-block"
                        >
                          Ok
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- NEGATIVO -->
                <div class="pt-5" *ngIf="!result">
                  <h2>
                    PARABÉNS,  
                    <p> você não precisa de tele atendimento no momento, contunue com sua rotina equilibrada com alimentos saudáveis e exercicio físico.
                      Mas se mesmo assim quer um atendimento, estamos prontos para atendê-lo(a)</p>
                  </h2>
                  <h2 class="font-weight-bold">+ bem estar agradece.</h2>
                  <div class="container mt-5">
                    <div class="row mt-5">
                      <div class="col-12 mt-5">
                        <button
                          _ngcontent-wig-c108=""
                          type="button" (click)="fullpage_api.moveSectionDown()"
                          class="btn btn-raised btn-warning btn-lg text-dark btn-block float-right ml-3 btn-block"
                        >
                          Continuar com atendimento
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container p-0">
      <div class="row justify-content-md">
        <div class="col-md-auto col-md-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="container header text-white">
                <div class="pt-5">
                  <h2>
                    Verificamos que você precisa de um alto atendimento.
                    <p>Seja bem-vindo,</p>
                  </h2>
                  <h5 class="font-weight-bold">{{ form.full_name }}</h5>
                  <div class="container mt-5">
                    <div class="row mt-5">
                      <div class="col-12 mt-5">
                        <button
                          _ngcontent-wig-c108=""
                          type="button"
                          class="btn bg-white btn-outline-danger btn-lg btn-block float-left font-weight-bold"
                        >
                          Não concordo
                        </button>
                        <button
                          _ngcontent-wig-c108=""
                          type="button"
                          class="btn btn-raised btn-warning btn-lg text-dark btn-block float-right ml-3 btn-block"
                        >
                          Sim, concordo
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
