<ng-template #content let-modal>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
      [innerHTML]="modalTitle"
    ></h4>
  </div>
  <div class="modal-body">
    <h3>Termo de consentimento</h3>
    <p>
      A Digital Innovetion One possui o propósito de ser um agente transformador
      da saúde, com medicina de excelência, atendimento humanizado e prevenção
      de riscos na saúde para melhorar a vida dos colaboradores e voluntários.
    </p>
    <p>
      Para que possamos prestar um serviço adequado e de alto padrão, nós, da
      Digital Innovetion One, solicitamos que você nos forneça algumas
      informações pessoais e de saúde. Para que possamos oferecer a melhor
      experiência durante os nossos serviços!
    </p>
    <p>
      O tratamento desses dados seguirá as diretrizes da nossa Política de
      Privacidade, disponível no endereço eletrônico www.digitalinnovation.one.
      Seus dados serão tratados por nós pelo prazo permitido pela legislação
      brasileira e poderão ser utilizados para as finalidades descritas abaixo e
      para que isso seja possível, solicitamos que você dê seu consentimento.
    </p>
    <p>
      1) Realizar atendimento por telemedicina 2) Acompanhar o resultado de suas
      avaliações de saúde e exames realizados no Estrada pela Saúde 3) Mantê-lo
      informado, quando necessário, sobre o agendamento de consultas 4) Gerar
      análises e estudos que contribuam com a melhoria de nossas atividades e
      aperfeiçoem o uso e a experiência interativa em nossos sites, plataformas,
      produtos e serviços; 5) Transferência de dados para terceiros parceiros da
      CCR que atendam aos requisitos técnicos e para as finalidades presentes em
      nossa Política de Privacidade; 6) Promover ações de engajamento e
      disponibilização de programas de monitoramento, dicas e orientações em
      relação a sua própria saúde; 7) Notifica-lo acerca de nossas campanhas
      educacionais e de marketing, as quais terão o intuito de auxilia-lo a
      melhorar a sua saúde e bem-estar; 8) Com base nos seus dados de saúde
      convidá-lo a participar das iniciativas de prevenção, promoção e atenção à
      saúde desenvolvidas por parceiros, sem que, desta forma, seus dados sejam
      compartilhados com estes, que não os profissionais de saúde que venham a
      prestar atendimento a você; 9) Demais finalidades presentes em nossa
      Política de Privacidade.
    </p>
    <p>
      Informamos também que seus dados poderão ser armazenados e utilizados para
      o atendimento de obrigação legal ou regulatória que a Disital Innovetion
      One tenha que cumprir, bem como para o exercício regular de direitos,
      conforme expresso na Lei Geral de Proteção de Dados (Lei nº 13.709/2018).
    </p>
    <p>
      Saiba que você é o titular dos seus dados pessoais e está livre para, a
      qualquer momento, solicitar o acesso, a retificação, a exclusão, a
      portabilidade, entre outros direitos. Basta nos comunicar através do canal
      de Fale Conosco de nossas marcas.
    </p>
    <p>
      Ainda, caso você tenha alguma dúvida de como seus dados estão sendo
      tratados pela Digital Innovetion One, entre em contato conosco através do
      canal de Fale Conosco disponível no site de nossas marcas.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-raised btn-dark btn-lg text-white mr-auto"
      (click)="modal.close(false)"
    >
      Não concordo
    </button>
    <button
      type="button"
      class="btn btn-raised btn-warning btn-lg text-dark ml-auto"
      (click)="modal.close(true)"
    >
      Concordo
    </button>
  </div>
</ng-template>
<img src="/assets/imgs/Bem_Estar_logo_2015.png" alt="logo bem estar" class="position-fixed" style="left: 50%; top: 3%; z-index: 9999999999999999999999999999999" height="75"/>
<div
  fullpage
  id="fullpage"
  [options]="config"
  (ref)="getRef($event)"
  #fullpageRef
>
  <div class="section" *ngFor="let item of render; let i = index">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="text-white" [innerHTML]="item.title"></h1>
              <h4 class="text-white">{{ item.subTitle }}</h4>
              <div class="input-group mb-3">
                <input
                  type="text"
                  id="{{ item.input }}"
                  class="form-control"
                  [placeholder]="item.placeholder"
                  (keydown)="defineValue($event, item.input)"
                />
                <!-- <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button"><i
                                            class="fas fa-backspace fa-lg"></i></button>
                                </div> -->
              </div>
            </div>
            <!-- <div class="col-lg-12" *ngIf="hasItemType(item.type, 'keyboard')">
                            <div class="simple-keyboard keyboard-{{item.input}}">
                            </div>
                        </div> -->
            <div
              class="col-lg-12"
              *ngIf="hasItemType(item.type, 'content-loading')"
            >
              <div class="d-flex align-items-center mt-5">
                <div class="p-2 bd-highlight">
                  <div
                    *ngIf="item.icon !== null"
                    class="{{ item.icon }}"
                    role="status"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <div class="p-2 bd-highlight text-left">
                  <img [src]="item.result_img" />
                  <h3 class="font-weight-bold">aguarde… fazendo medição</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-12 mt-5">
          <button
            type="button"
            (click)="exit()"
            class="btn bg-white btn-outline-danger btn-lg float-left font-weight-bold"
          >
            Sair
          </button>
          <button
            type="button"
            (click)="next(i)"
            class="btn btn-raised btn-warning btn-lg text-dark float-right ml-3"
          >
            Continuar
          </button>
          <button
            type="button"
            *ngIf="hasBack(i)"
            (click)="back(i)"
            class="btn btn-raised btn-dark btn-lg text-white float-right"
          >
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="section" *ngFor="let item of render; let i = index">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <img
              src="/assets/imgs/Bem_Estar_logo_2015.png"
              alt="logo bem estar"
            />
            Verificamos que você precisa de um alto atendimento, vamos seguir?
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
